<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucsb.cs56.projects.android.conversion_showdown">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Conversion Showdown!"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="edu.ucsb.cs56.projects.android.conversion_showdown.SplashScreen"
            android:label="Conversion Showdown!"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.ucsb.cs56.projects.android.conversion_showdown.Welcome"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Conversion Showdown!" />
        <activity
            android:name="edu.ucsb.cs56.projects.android.conversion_showdown.baseCalculator"
            android:screenOrientation="portrait"
            android:label="Conversion Showdown!" />
        <activity
            android:name="edu.ucsb.cs56.projects.android.conversion_showdown.Introduction"
            android:label="Conversion Showdown!" />
        <activity
            android:name="edu.ucsb.cs56.projects.android.conversion_showdown.Calculator"
            android:label="Conversion Showdown!" />
        <activity
            android:name="edu.ucsb.cs56.projects.android.conversion_showdown.QuizSelection"
            android:label="Conversion Showdown!"></activity>
        <activity
            android:name="edu.ucsb.cs56.projects.android.conversion_showdown.Quiz"
            android:label="Conversion Showdown!"
            android:parentActivityName="edu.ucsb.cs56.projects.android.conversion_showdown.Introduction">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ucsb.cs56.projects.android.conversion_showdown.Introduction" />
        </activity>
        <activity
            android:name="edu.ucsb.cs56.projects.android.conversion_showdown.ScoreReport"
            android:label="Conversion Showdown!" />
        <activity
            android:name="edu.ucsb.cs56.projects.android.conversion_showdown.ExpressionActivity"
            android:label="Conversion Showdown!"></activity>
        <activity android:name="edu.ucsb.cs56.projects.android.conversion_showdown.TestActivity1"></activity>
        <activity android:name="edu.ucsb.cs56.projects.android.conversion_showdown.TestActivity2"></activity>
        <activity android:name="edu.ucsb.cs56.projects.android.conversion_showdown.SwiperCalculatorActivity">

            <!-- Requires fragments to allow user to switch calculator by swiping -->
        </activity>
        <activity android:name="edu.ucsb.cs56.projects.android.conversion_showdown.ConverterActivity"></activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
